.welcome_wrapper{
    
}
/* .Logo {
    background-image: url("../src/bloodbank.jpg");
  } */
.abc
{
    /* padding-top: 5cm;
    padding-bottom: 5cm; */
     padding-left: 50px;
    padding-right: 50px; 
}
/* #carouselExampleIndicators{
  background-color: aliceblue
} */